 @import 'bootstrap/bootstrap.scss';
@import 'carousel/carousel.scss';
@import 'animate.scss';

@import 'application/variables';

main{
    width:1200px;
    margin:0 auto;
}
.img_nav {
  img { width:80%; }
}
.barre_nav{
    width:1200px;
    margin:0 auto;
}
.fond_nav{
    padding:15px 0px;
    display:flex;
    width:100%;
    background-color: rgb(20,20,20);
    height:100px;
    position:fixed;
    top:0;
    z-index:10000;
    margin-bottom:5%;
}

.test {
    width:100%;
    height:200px;
    background-color:grey;
}

.nav {
    margin-right:-3%;

    &-item {
        align-items: center;
        margin:auto 0;
    }

    &-link {
        font-size: 18px;
        color:white;
        padding:.5rem 2.5rem;

        &:hover { color:red; }
    }
}

.ss_article {
    width:50%
}

.article{
    display:flex;
    flex-wrap: wrap;
    margin: 5% 0;

    h1 { color:red; }
}


#carouselExampleIndicators{
    margin-top:10%;
}

/* Test du slider codePen */
.article_slider {
    margin-top:5%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.img_article_slider{
    width:20%;

    img {
      width:100%;
    }
}
.text_article_slider{
    width:30%;
}


/* FOOTER */
.ml-1 {
    img {
        padding-top : 1%;
        padding-bottom: 3%;
        margin-left : 4%;
    }
}
.contenu{
    height: 1200px;
}
.footer_kercode {
    width:1200px;
    background-color: $dark-1;
    margin-bottom:1%;
}
.fond_footer {
    padding:15px 0px;
    display:flex;
    width:100%;
    background-color: $dark-1;
    min-height:160px;
}
.mentions_legale{
    font-size:1rem;
    margin-top:10px;
}

.yellow {
  background-color: yellow;
}

.active {
  background-color: white;
  color: $dark-1;
  border-radius: 5px;
}